<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista e botão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Item um da lista</ion-item>
        <ion-item>Item dois da lista</ion-item>
        <ion-item>item três da lista</ion-item>
      </ion-list>
      <ion-button shape="round" href="https://github.com/FR-macedo">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
